*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  /*height: 100%;*/
  overflow: hidden;
}
@media (max-width: 768px) {
  html, body {
    font-size: 40%;
  }
}
 

input, button {
  outline: none;
  border: none;
}



/** 登录页面 Start */
.area {
	margin: 5px auto 0px auto;
}
.mui-input-group {
	margin-top: 5px;
}
.mui-input-group: first-child {
	margin-top: 20px;
}
.mui-input-group label {
	width: 35%;
}
.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 65%;
}
.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	top: 6px;
}
.mui-content {
	height: 100%;
}
.mui-content-padded {
	margin-top: 25px;
}
.mui-btn {
	padding: 10px;
}
.link-area {
	display: block;
	margin-top: 25px;
	text-align: center;
}
/*.loginTop {
 	//版本1
	background: -webkit-radial-gradient(#CDAD00, #FF7F00, #CD0000);
    background: -o-radial-gradient(#CDAD00, #FF7F00, #CD0000); 
    background: -moz-radial-gradient(#CDAD00, #FF7F00, #CD0000); 
    background: radial-gradient(#CDAD00, #FF7F00, #CD0000);
    //版本2
    background: -webkit-radial-gradient(#BDB76B, #8F8F8F, #8B4726);
    background: -o-radial-gradient(#BDB76B, #8F8F8F, #8B4726); 
    background: -moz-radial-gradient(#BDB76B, #8F8F8F, #8B4726); 
    background: radial-gradient(#BDB76B, #8F8F8F, #8B4726);
	height: 180px;
}*/
.loginTop {
	 /*background-image: url(../imgs/weblogin_02.jpg);*/
	 height: 175px;
}
.loginTop2 {
	height: 2px;
	background-color: #CE293A;
}
.loginTop img{
	width: 100%;
  height: 100% 
}
.spliter {
	color: #FFFFFF;
	padding: 0px 8px;
	font-size: 18px;
}
.spliter-version {
	color: #bbb;
	padding: 0px 8px;
	font-size: 12px;
}
.oauth-area {
	position: absolute;
	bottom: 20px;
	left: 0px;
	text-align: center;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.oauth-area .oauth-btn {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: 30px 30px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0px 20px;
	
	border: solid 1px #ddd;
	border-radius: 25px;
}
.oauth-area .oauth-btn:active {
	border: solid 1px #aaa;
	border-radius: 25px;
}



/** 登录页面 End */


.login-form {
  position: absolute;
  top: 150px;
  width: 100%;
  padding: 20% 10%;
  text-align: center;
}
.login-row {
  padding-top: 5px;
  padding-left: 8%;
  width: 95%;
  overflow: hidden; /*清除浮动*/
}
.login-row span {
	float: left; /*浮动*/
}
.login-row-1 {
	width: 10%
}
.login-row-2 {
	width: 90%
}
.login-row-3 {
	width: 50%
}
.login-row-4 {
	width: 40%
}


.login-row span input{
	height: 40px;
	border-left-width:0px;
	border-top-width:0px;
	border-right-width:0px;
	background: transparent;
	border-bottom-color:#8B4726;
}
/* input 框中的文字说明 */
input::-webkit-input-placeholder{ /*WebKit browsers*/
	color: #8F8F8F;
	font-size: 14px;
	text-align: left;
}

/* 登录按钮 */
.login-submit {
  position: relative;
  width: 72%;
  height: 40px;
  color: #FFFFFF;
  background: #CE293A;
  font-size: 20px;
  margin-top: 260px;
  margin-left: 15%;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
}



/* 验证码 */
 .code {
 	margin-top: 5px;
  background:#CE293A;
  font-family:Arial;
  font-style:italic;
  color:#FFFFFF;
  font-size:23px;
  border:0;
  padding:2px 3px;
  letter-spacing:4px;
  font-weight:bolder;             
  float:left;            
  cursor:pointer;
  width:100%; 
  height:30px;
  line-height:30px;
  text-align:center;
  vertical-align:middle;
}







